@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
body {
    font-family: 'Roboto', sans-serif;
    color: #484848;
}
a {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}
h1 {
    font-size: 60px;
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url('../images/hm_course_icon_1_white.png');
}
.top {
    padding: 7px 0;
    background-color: #FFF;
}
.top_left {
    float: left;
}
.top_right {
    float: right;
}
.top_left_items {
    display: inline-block;
    padding: 0 10px;
}
.top_left_items:first-child {
    padding-left: 0;
}
.top_left_items:last-child {
    padding-right: 0;
}
.top_left_items a {
    color: #484848;
}
.top_left_items a:hover {
    color: #287dc6;
}
.top_left_items img {
    display: inline-block;
    margin-right: 7px;
}
.top_right a {
    display: inline-block;
    padding: 0 10px;
    color: #484848;
    font-size: 21px;
}
.top_right a .fa {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.top_right a:hover .fa-facebook {
    color: #3b5998;
}
.top_right a:hover .fa-twitter {
    color: #326ada;
}
.top_right a:hover .fa-google-plus {
    color: #d62d20;
}
.top_right a:hover .fa-linkedin {
    color: #0077B5;
}
.banner_wrap {
    position: relative;
}
.banner_box {
    position: relative;
}
.cap_wrap{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.cap_block{
    display: inline-block;
    width: 400px;
    color: #FFF;
    visibility:hidden;
}
.cap_block.active-slide {
    visibility: visible;
}
.cap_block h2{
    font-size: 30px;
    font-weight: bold;
    margin: 0px 0px 15px 0px;
}
.banner_control_wrap {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    z-index: 999;
}
#banner_prev {
    float: left;
}
#banner_next {
    float: right;
}
.banner_control a {
    display: inline-block;
    width: 50px;
    text-align: center;
    color: #FFF;
    font-size: 21px;
    border: 1px solid #FFF;
}
.banner_control a:hover {
    border-color: #287dc6;
    color: #287dc6;
}
header.home {
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0;
    top: 0;
    padding: 20px 0;
}
.logo {
    float: left;
}
.nav_wrap {
    float: right;
}
.nav_wrap ul {
    padding: 0;
    margin: 0;
}
.nav_wrap  ul > li {
    float: left;
    list-style: none;
    margin: 0 5px;
}
.nav_wrap ul > li:first-child {
    margin-left: 0;
}
.nav_wrap ul > li:last-child {
    margin-right: 0;
}
.nav_wrap ul > li > a {
    display: inline-block;
    padding: 5px 15px;
    color: #FFF;
    border-bottom: 1px solid transparent;
}
@media only screen and (min-width: 768px) {
    .nav_wrap ul > li > a:hover,
    .nav_wrap ul > li > a.active {
        border-bottom: 1px solid #287dc6;
        color: #287dc6;
    }
}
.nav_wrap ul > li:first-child > a {
    padding-left: 0;
}
.nav_wrap ul > li:last-child > a {
    padding-right: 0;
}
.welcome {
    background-color: #FFF;
    padding: 50px 0;
}
.welcome_head {
    color: #287dc6;
    margin-top: 0;
    font-weight: bold;
}
.welcome_feat_item {
    margin: 15px 0;
}
.welcome_feat_item span {
    display: inline-block;
    padding: 5px;
    background-color: #287dc6;
    border-radius: 5px;
    margin-right: 10px;
}
.welcome_feats .row:last-child .welcome_feat_item {
    margin-bottom: 0;
}
.hm_courses_wrap {
    background: url('../images/hm_course_bg.jpg') no-repeat fixed center;
    padding: 50px 0;
    text-align: center;
}
.hm_course_item {
    display: inline-block;
    background-color: #FFF;
    padding: 30px;
    width: 100%;
    max-width: 488px;
    margin: 5px;
    text-align: left;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.hm_course_item .ico {
    float: left;
    width: 79px;
    height: 124px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.hm_course_det {
    margin-left: 90px;
}
.ico_1 {
    background: url('../images/hm_course_icon_1.png') no-repeat;
}
.hm_course_det h3 {
    margin-top: 0;
}
.hm_course_item:hover {
    background-color: #287dc6;
    color: #FFF;
}
.hm_course_item:hover .ico_1 {
    background: url('../images/hm_course_icon_1_white.png') no-repeat;
}
footer {
    background-color: #2f2e2e;
    color: #FFF;
    padding-top: 50px;
    -moz-box-shadow: inset 0 7px 35px -7px #000;
    -webkit-box-shadow: inset 0 7px 35px -7px #000;
    box-shadow: inset 0 7px 35px -7px #000;
}
.footer_top {
    position: relative;
    text-align: center;
}
.footer_top_bg {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #FFF;
}
#go_top {
    padding: 5px 40px;
    background-color: #FFF;
    color: #333;
    position: relative;
    z-index: 99;
    display: inline-block;
}
#go_top:hover {
    color: #000;
}
#go_top .fa {
    font-size: 21px;
    line-height: 17px;
}
.footer_logo {
    margin: 15px 0;
}
.brochure_lnk {
    margin: 15px 0;
}
.brochure_lnk a {
    display: inline-block;
    padding: 4px 10px;
    color: #FFF;
    background-color: #287dc6;
    border-radius: 5px;
}
.brochure_lnk a:hover {
    background-color: #1068b4;
    color: #FFF;
}
.footer_address {
    margin: 10px 0;
}
.footer_address img {
    display: inline-block;
    margin-right: 10px;
    width: 15px;
}
.footer_contact img {
    display: inline-block;
    margin-right: 10px;
    max-width: 15px;

}
.footer_contact a {
    color: #FFF;
}
.footer_contact a:hover {
    color: #287dc6;
}
.footer_contact span {
    display: inline-block;
}
.footer_contact span:first-child {
    margin-right: 30px;
}
.footer_social {
    margin: 15px 0;
}
.footer_social a {
    display: inline-block;
    padding: 0 10px;
    color: #FFF;
    font-size: 21px;
}
.footer_social a .fa {
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.footer_social a:hover .fa-facebook {
    color: #3b5998;
}
.footer_social a:hover .fa-twitter {
    color: #326ada;
}
.footer_social a:hover .fa-google-plus {
    color: #d62d20;
}
.footer_social a:hover .fa-linkedin {
    color: #0077B5;
}
.copy_wrap {
    border-top: 1px solid #FFF;
    padding: 10px 0 5px 0;
}
.copy {
    float: left;
}
.power {
    float: right;
}
.client_wrap {
    padding: 50px 0;
    border-top: 1px solid #287dc6;
}
.client_wrap img {
    display: inline-block;
    width: 100%;
    max-width: 100px;
    margin: 0 15px;
}
.gallery_wrap {
    padding: 50px 15px;
}
.gallery_hm_column {
    float: left;
    width: 50%;
}
.gallery_hm_column a {
    display: block;
    width: 100%;
    height: 235px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7) url('../images/zoom.png') center no-repeat;
    opacity: 0;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.gallery_hm_column a:hover .overlay {
    opacity: 1;
}
.hm_gal_lnk {
    background-color: #287dc6;
    color: #FFF;
    line-height: 40px;
    padding-top: 70px;
}
.hm_gal_lnk span.main {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}
.hm_gal_lnk span.main span {
    font-size: 36px;
}
.hm_gal_lnk:hover {
    color: #FFF;
    background-color: #156cb7;
}
#nav_trigger {
    display: none;
    font-size: 21px;
    border: 1px solid #287dc6;
    color: #287dc6;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 33px;
    width: 40px;
    text-align: center;
    line-height: 27px;
}
header.common {
    padding: 20px 0;
    border-bottom: 1px solid #287dc6;
    position: relative;
}
header.common .nav_wrap ul > li > a {
    color: #333;
}
header.common .nav_wrap ul > li > a.active,
header.common .nav_wrap ul > li > a:hover {
    color: #287dc6;
}
.top_common {
    background-color: #e9e9e9;
}
.pad_50_15 {
    padding: 50px 15px;
}
.pad_50 {
    padding: 50px 0;
}
.about_us_det h3 {
    font-weight: bold;
    margin-top: 50px;
}
.why_us_wrapper {
    background: url("../images/hm_course_bg.jpg") no-repeat fixed;
    color: #FFF;
}
.why_us_wrapper_inner {
    background-color: rgba(40,125,198, 0.7);
}
.count_wrap {
    margin-top: 30px;
}
.count_item {
    display: inline-block;
    margin: 15px 10px 0 10px;
}
.count_round {
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
    border-radius: 50%;
    border: 5px solid #FFF;
    font-size: 36px;
}
.contact_map_area {
    display: flex;
}
#gmap {
    width: 70%;
    height: 420px;
}
.address {
    height: 420px;
    background: url("../images/hm_course_bg.jpg") no-repeat fixed;
    flex-grow: 1;
}
.address_inner {
    background-color: rgba(0, 0, 0, 0.7);
    height: 420px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.address_inner_item {
    text-align: center;
}
.address_head h3 {
    margin-top: 0;
}
.contact_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}
.contact_item_ico {
    width: 45px;
    font-size: 21px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #4a4a4a;
    text-align: center;
    margin-right: 25px;
    line-height: 40px;
    color: #4a4a4a;
}
.contact_item_det {
    flex-grow: 1;
}
.contact_item_det p:last-child {
    margin-bottom: 0;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    outline: none;
    font-size: 15px;
    color: #808080;
    margin: 0 0 16px 0;
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    opacity: 1;
    border-radius: 3px;
}
.form-group textarea {
    height: 51px;
    line-height: 51px;
    padding: 0 20px;
    outline: none;
    font-size: 15px;
    color: #808080;
    margin: 0 0 16px 0;
    max-width: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 120px;
    box-sizing: border-box;
    display: block;
    background-color: #fcfcfc;
    border: 1px solid #e0e0e0;
    opacity: 1;
    border-radius: 3px;
}
.form-group input[type="submit"] {
    display: inline-block;
    height: 51px;
    padding: 0 20px;
    border: none;
    background-color: #287dc6;
    color: #FFF;
    border-radius: 3px;
}
.gallery {
    font-size: 0;
}
.gallery_item {
    display: inline-block;
    width: 25%;
    padding: 5px;
}
.gallery_item a {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 3px solid #e3e3e3;
}
.gallery_item_inner {
    width: 100%;
    height: 200px;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.gallery_item a:hover .overlay {
    opacity: 1;
}
.gallery_item a:hover .gallery_item_inner {
    -moz-transform: scale(1.2) rotate(5deg);
    -webkit-transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
}
.lg-thumb {
    margin: 0 auto -5px auto;
}
.service_wrap {
    margin-top: 40px;
}
.service_head {
    margin-top: 0;
}
.service_main_det {
    padding-bottom: 15px;
}
hr.custom {
    background-image: -webkit-linear-gradient(left, transparent, #DBDBDB, transparent);
    background-image: linear-gradient(to right, transparent, #DBDBDB, transparent);
    border: 0;
    height: 1px;
    margin: 22px 0;
}
.service_box {
    padding: 15px;
    border: 1px solid #ECECEC;
    border-top-width: 4px;
    border-radius: 10px;
    background-color: #FBFBFB;
}
.service_box .ico {
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 36px;
    border-radius: 50%;
    margin: 0 auto 25px auto;
    color: #FFF;
    position: relative;
}
.service_box .ico .ico_inner {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: -3px;
    margin-top: -3px;
    display: inline-block;
    width: 106px;
    height: 106px;
    border: 3px solid #FFF;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.service_box:hover .ico_inner{
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-top: 5px;
}
.service_box_primary {
    border-top-color: #337ab7;
}
.service_box_danger {
    border-top-color: #d9534f;
}
.service_box_info {
    border-top-color: #5bc0de;
}
.service_box_black {
    border-top-color: #383f48;
}
.service_box_primary .ico {
    background-color: #337ab7;
}
.service_box_danger .ico {
    background-color: #d9534f;
}
.service_box_info .ico {
    background-color: #5bc0de;
}
.service_box_black .ico {
    background-color: #383f48;
}
.service_box_primary .h4 {
    color: #337ab7;
}
.service_box_danger .h4 {
    color: #d9534f;
}
.service_box_info .h4 {
    color: #5bc0de;
}
.service_box_black .h4 {
    color: #383f48;
}
.feature_wrap li {
    list-style: square;
}
.company_wrap img {
    display: inline-block;
    width: 100%;
    max-width: 120px;
    margin: 0 15px;
}
.companies_head {
    margin-top: 0;
    margin-bottom: 20px;
}
.testimonial_wrap {
    background: url("../images/hm_course_bg.jpg") no-repeat fixed;
}
.testimonial_inner {
    background-color: rgba(0, 0, 0, 0.7);
}
.testimonial {
    color: #FFF;
}
.testimonial_block {
    text-align: center;
}
.testimonial_pic {
    text-align: center;
}
.testimonial_pic img {
    margin: 0 auto;
    width: 100%;
    max-width: 100px;
    border: 3px solid #333;
}
.testimonial_wrap .bx-wrapper,
.testimonial_wrap .bx-viewport {
    background: transparent;
}
.testimonial_head {
    margin-top: 0;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 30px;
}
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0;
    width: 30px;
    background: rgba(255, 255, 255, 0.5);
}
.testimonial_wrap .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #FFF;
}
.news_ticker {
    width: 100%;
    overflow: hidden;
    background-color: #287dc6;
}
.news_ticker_head {
    width: 150px;
    float: left;
    padding: 5px 10px;
    background-color: #2066c6;
    color: #FFF;
}
.news_ticker_inner_wrapper {
    padding-left: 170px;
    overflow: hidden;
    padding-top: 15px;
}
.news_ticker_inner_wrapper a {
    color: #FFF;
    cursor: default;
}
.team {
    margin-top: 15px;
}
.team_slider ul {
    margin: 0;
    padding: 0;
}
.team_slider ul > li {
    display: flex;
    flex-direction: row;
}
.team_img {
    margin-right: 15px;
}
.team_det {
    flex-grow: 1;
}
.placement_questions {
    background-color: #ecf0f1;
    padding-top: 30px;
}
.question {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    padding: 10px;
}
.question_image {
    width: 200px;
    margin-right: 15px;
}
.question_image img {
    max-width: 100%;
}
.question_det {
    flex-grow: 1;
}
.question_det h3 {
    margin-top: 0;
}
.quick_contact {
    position: fixed;
    width: 290px;
    right: 0;
    bottom: 0;
    margin-bottom: 42px;
}
.quick_head {
    background-color: rgba(40,125,198, .9);
    color: #FFF;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
}
.quick_form {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}
.quick_form input[type="text"],
.quick_form input[type="email"] {
    height: 29px;
}
.quick_form textarea {
    height: 80px;
    max-height: 80px;
    min-height: 80px;
}
.quick_form input[type="submit"] {
    border: none;
    background-color: #287dc6;
    color: #FFF;
    padding: 5px 10px;
    border-radius: 5px;
    height: 30px;
}
.status {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
}
.status-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.status-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.status-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
#home_map {
    width: 100%;
    height: 150px;
    margin: 15px 0;
}
.hm_question_wrapper {
    background: url("../images/question_bg.jpg") no-repeat center fixed;
    background-size: cover;
}
.hm_question_inner {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 30px 0 60px 0;
}
.hm_question_head {
    margin: 0 0 30px 0;
    text-align: center;
    color: #FFF;
}
.hm_question_inner .bx-wrapper .bx-viewport {
    background-color: transparent;
}
.hm_question_inner .bx-wrapper .bx-loading {
    background-color: transparent;
}
.question_slider_item {
    display: block;
    text-align: center;
    color: #FFF;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.question_slider_item:hover {
    color: #FFF;
    opacity: 0.7;
}
.question_slider_img {
    margin: 0 auto;
    max-width: 200px;
    border: 2px solid #FFF;
}
.question_slider_img img {
    max-width: 100%;
}
.hm_question_wrapper .bx-wrapper .bx-pager.bx-default-pager a {
    border-radius: 0;
    width: 30px;
    background: rgba(255, 255, 255, 0.5);
}
.hm_question_wrapper .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #FFF;
}


/* Media queries */
@media only screen and (min-width: 992px) and  (max-width: 1199px) {
    .hm_course_item {
        max-width: 400px;
    }
    .gallery_item {
        width: 33.33333333%;
    }
}
@media only screen and (min-width: 768px) and  (max-width: 991px) {
    .nav_wrap ul > li > a {
        padding: 5px 10px;
    }
    .logo img {
        width: 170px;
    }
    .gallery_item {
        width: 33.33333333%;
    }
}
@media only screen and  (max-width: 767px) {
    .top {
        border-bottom: 1px solid #287dc6;
    }
    header.home {
        position: relative;
        padding-bottom: 0;
    }
    .logo {
        float: none;
        padding-bottom: 20px;
    }
    .nav_wrap {
        float: none;
        margin: 0 -15px;
        display: none;
    }
    .nav_wrap ul > li {
        float: none;
        margin: 0;
    }
    .nav_wrap ul > li > a {
        display: block;
        width: 100%;
        color: #333;
        padding: 5px 15px;
        background-color: #FFF;
        border-top: 1px solid #e1e1e1;
    }
    .nav_wrap ul > li:first-child > a,
    .nav_wrap ul > li:last-child > a {
        padding: 5px 15px;
    }
    .res_banner_wrapper {
        position: relative;
    }
    #nav_trigger {
        display: inline-block;
    }
    .video_slider_wrapper {
        margin-top: 30px;
    }
    .copy {
        float: none;
    }
    .power {
        float: none;
        margin-top: 15px;
    }
    .gallery_hm_column {
        float: none;
        margin: 0 auto;
        width: 100%;
        max-width: 290px;
    }
    .top_left {
        float: none;
        text-align: center;
    }
    .top_right {
        float: none;
        margin-top: 15px;
        text-align: center;
    }
    header.common {
        padding-bottom: 0;
    }
    .contact_map_area {
        height: auto;
        display: block;
    }
    #gmap {
        width: 100%;
        height: 330px;
    }
    .address {
        width: 100%;
        height: 250px;
    }
    .address_inner {
        height: 250px;
    }
    .gallery {
        text-align: center;
    }
    .gallery_item {
        width: 100%;
        max-width: 320px;
    }
    .service_box {
        max-width: 320px;
        margin: 0 auto 15px auto;
    }
}


































